* {
    box-sizing: border-box;
}

body {
    margin: 0;

}
.navbar {
    overflow: hidden;
    background-color: white;
    color: blue;
    padding: 10px 16px;
    text-align: center;
    position: fixed;
    top: 0;
    witdh: 100%;

}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:600px) {
    .column.side, .column.middle  {
        width: 100%;
    }
}

